.tc{
  text-align: center;
}
/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 60%;
  padding: 0;
  .not-running{
    background: #f9f9f9;
  }
  .preview-instructions{
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    width: 500px;
    font-size: 12px;
    h2{
      text-align: center;
    }
  }
}

/* Control the right side */
.right {
  right: 0;
  width: 40%;
  padding: 10px;
  border-left: 1px solid #23241f;
  .prev-next-bar{
    overflow: hidden;
    margin-bottom: 10px;
    .prev-exercise{
      float: left;
    }
    .next-exercise{
      float: right;
    }
  }
}
code{
  background: #fffce0;
  padding: 3px;
}
.alert{
  padding: 5px;
  &.alert-info{
    background: #23241f;
    color: white;
  }
  &.alert-danger{
    background: red;
    color: white;
  }
  &.alert-success{
    background: #c1e4c1;
    color: #1f2d01;
  }
  p{
    margin: 0;
  }
  .refresh{
    border-radius: 50%;
    float: right;
    width: 30px;
    padding-top: 4px;
    margin: 10px;
    height: 30px;
    background: #5d5dff;
    border: none;
    color: white;
    cursor: pointer;
    outline: 0;
    &.rotate{
      animation-name: spin;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @keyframes spin { 
          from { 
              transform: rotate(0deg); 
          } to { 
              transform: rotate(360deg); 
          }
      }
    }
  }
}